//$primary-color: #1565C0;
$primary-color: #5A4B69;
$primary-color-0: #514261;
$primary-color-1: #3D83D2;
$accent-color: #E24301;
$text-color: #666;
$body-padding-top: 66px;

//#######################################################################
//MIXIN
//#######################################################################

@mixin my-transition($prop) {
  -webkit-transition: $prop .5s cubic-bezier(0.215, 0.610, 0.355, 1.000);
  -moz-transition: $prop .5s cubic-bezier(0.215, 0.610, 0.355, 1.000);
  -ms-transition: $prop .5s cubic-bezier(0.215, 0.610, 0.355, 1.000);
  -o-transition: $prop .5s cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transition: $prop .5s cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

@mixin my-boxshadow($allParam) {
  -webkit-box-shadow: $allParam; -moz-box-shadow: $allParam; box-shadow: $allParam;
}

//#######################################################################
//TAGS
//#######################################################################
html { height: 100%; overflow-y: auto; overflow-x: hidden !important; }

body {
  padding-top: 32px;
  @include my-transition(padding-top);
  &.hide-scroll-bar { overflow-y: hidden; _padding-right: 17px; position: fixed; top: 0; width: 100% }
  &.override-padding-top { padding-top: 0px }
}

header { }

footer {
  height: 200px;
  background-color: #DEDEDE;
  color: $text-color;
  padding: 20px 0;
  .sub-footer {
    background-color: #C3C3C3;
    padding: 20px 0;
  }
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.top-menu-wrapper {
  width: calc(100% - 17px);
  width: 100%;
  z-index: 58;
  top: 0; left: 0;
  @include my-transition(margin);
}

.hide-topbar {
  margin-top: -32px;
}

.top-bar {
  background: $primary-color-0;
  color: #FFF;
  height: 32px;
  min-height: 0;
}

.container { padding: 0 16px }

md-toolbar.main-toolbar {
  background-color: $primary-color;
  color: #FFF;
  border-bottom: solid 0px #D2D2D2;
  @include my-boxshadow(0 1px 6px rgba(90, 75, 105, 0.35));
  @include my-transition(all);
  &.fixed {
    position: fixed;
  }
  &.transparent {
    background-color: rgba(255, 255, 255, 0.52);
    color: $primary-color;
    border-bottom: solid 0px transparent;
    box-shadow: none;
    //@include my-boxshadow(0 3px 6px rgba(115, 115, 115, 0.34));
    .top-menu-item, md-icon.logo-icon { color: $primary-color !important; }
  }
  .md-toolbar-tools {
    padding: 0 !important;
  }
  md-icon { color: #666; }
  .menu-items { }
}

md-icon.logo-icon {
  color: #FFF !important;
  margin-right: 5px;
  width: 48px;
  height: 48px;
}

.comp-name { font-weight: 200; font-size: 24px }

.comp-name span { vertical-align: middle }

.top-menu-item { margin: 0 15px;
  text-transform: uppercase;
  font-size: 18px;
  font-size: 16px;
  font-weight: 700;
  color: #FFF !important;
  &:hover, &.active {
    color: $accent-color !important; //
  }
}

md-toolbar .btn-toggle-nav md-icon { color: $primary-color !important; }

#divBuildBedBg {
}

#divMainContent { overflow-x: hidden }

.bed-container {
  width: 891px;
  position: absolute;
  z-index: 1;
  height: 596px;
  right: 0px;
  top: 174px;
  div { position: absolute;
    width: 100% }
  &.offset-left {
    right: -120px;
    &.offset-right {
      right: -42px;
    }
  }
  &.offset-right {
    right: 0px;
  }
  &.offset-center {
    right: 50% !important;
    margin-right: -445px !important;
    margin-right: -548px !important;
  }
}

.steper {
  width: 64px;
  margin: 3% 0px 0% 0;
  border-radius: 3px;
  z-index: 2;
  .step-item {
    text-transform: uppercase;
    padding: 10px 10px;
    text-decoration: none;
    border-bottom: 1px solid $primary-color-0;
    background: $primary-color;
    &.selected {
      background-color: rgba(255, 255, 255, 0.16);
      span {
        color: $primary-color;
      }
    }
    &:last-child { border: 0; }
    span {
      font-size: 50px; font-weight: 300; color: #FFF; display: block; text-align: center;
      line-height: 1; margin-top: 7px;
    }
  }
}

.animate-show-hide { transition: all .5s cubic-bezier(0.215, 0.610, 0.355, 1.000); }

//.animate-show-hide { transition: all .7s cubic-bezier(0.000, 1, 0.0, 1.000); }
//.animate-show-hide { transition: all .3s cubic-bezier(1.000, 0.000, 0.000, 1.000); }

.build-control {
  margin: 3% 20px 0% 0;
  padding: 0 20px;
  background-color: rgba(255, 255, 255, 0.16);
  border: 0px solid $primary-color-0;
  opacity: 1;
  color: $text-color;
  width: 30%;
  min-width: 360px;
  z-index: 3;
  &.ng-hide {
    opacity: 0;
    margin: 5% 20px 5% -10px;
  }
  &.ng-hide-remove {
  }
  .md-display-1 {
    font-weight: 300;
    color: $primary-color;
    margin: 15px 0 0 0;
  }
  .md-subhead {
    margin: 0;
    color: $primary-color;
    text-transform: uppercase;
  }
  .sub-option {
    margin-bottom: 0;
    font-size: 14px;
    color: #969696;
    & + .border {
      margin-top: 4px;
    }
  }
  .sub-rad-group {
    margin: 0 0 15px 40px;
    font-size: 13px;
    md-radio-button {
      margin: 0; padding: 0;
    }

  }
  md-radio-button {
    color: $text-color;
  }
  .note { font-size: 12px; font-style: italic;
    & + .border {
      margin-top: 4px;
    }
  }
}

.bannercontainer {
  width: 100%;
  position: relative;
  padding: 0;
}

.banner {
  width: 100%;
  position: relative;
}

//.build-contrl
#eleStep3 {
  md-input-container { margin-top: 10px }
}

.view-container { padding-top: 64px }

.bed-open-close {
  opacity: 1;
  &.ng-hide {
    opacity: 0;
  }
}

//------------------------
//TOOL
//------------------------
.rad-white {
  .md-on {
    background-color: #FFF !important;
  }
  .md-off:not(.md-checked .md-off) {
    background-color: #FFF !important;
  }
}

.border {
  border: 1px solid rgba(68, 138, 218, 0.28);
  border-radius: 5px;
  background: #D6E1EC;
}

.fixed {
  position: fixed;
}

.tp-rightarrow, .tp-leftarrow, .tp-bullets { z-index: 57 !important; }

@media (max-width: 767px) {
  .menu-items {
    .top-menu-item { font-size: 13px; margin: 0 10px; }
  }
}

@media (min-width: 1280px) and (max-width: 1679px) {
  .bed-container {
    right: -120px;
    &.offset-left {
      right: -176px;
    }
    &.offset-left {
      &.offset-right {
        right: -118px;
      }
    }
  }
}
