html {
  height: 100%;
  overflow-y: auto; }

body {
  padding-top: 32px;
  -webkit-transition: padding-top 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: padding-top 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -ms-transition: padding-top 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: padding-top 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: padding-top 0.5s cubic-bezier(0.215, 0.61, 0.355, 1); }
  body.hide-scroll-bar {
    overflow-y: hidden;
    _padding-right: 17px; }
  body.override-padding-top {
    padding-top: 0px; }

footer {
  height: 200px;
  background-color: #DEDEDE;
  color: #666;
  padding: 20px 0; }
  footer .sub-footer {
    background-color: #C3C3C3;
    padding: 20px 0; }

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em; }

.menu:before {
  content: "["; }

.menu:after {
  content: "]"; }

.menu > li {
  display: inline; }

.menu > li:before {
  content: "|";
  padding-right: 0.3em; }

.menu > li:nth-child(1):before {
  content: "";
  padding: 0; }

.top-menu-wrapper {
  width: calc(100% - 17px);
  width: 100%;
  z-index: 58;
  top: 0;
  left: 0;
  -webkit-transition: margin 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: margin 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -ms-transition: margin 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: margin 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: margin 0.5s cubic-bezier(0.215, 0.61, 0.355, 1); }

.hide-topbar {
  margin-top: -32px; }

.top-bar {
  background: #5A4B69;
  color: #FFF;
  height: 32px;
  min-height: 0; }

.container {
  padding: 0 16px; }

md-toolbar.main-toolbar {
  background-color: #FFF;
  color: #5A4B69;
  border-bottom: solid 2px #D2D2D2;
  -webkit-box-shadow: 0 3px 6px rgba(182, 182, 182, 0.34);
  -moz-box-shadow: 0 3px 6px rgba(182, 182, 182, 0.34);
  box-shadow: 0 3px 6px rgba(182, 182, 182, 0.34);
  -webkit-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -ms-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1); }
  md-toolbar.main-toolbar.fixed {
    position: fixed; }
  md-toolbar.main-toolbar.transparent {
    background-color: rgba(255, 255, 255, 0.52);
    color: #5A4B69;
    border-bottom: solid 2px transparent;
    box-shadow: none; }
  md-toolbar.main-toolbar .md-toolbar-tools {
    padding: 0 !important; }
  md-toolbar.main-toolbar md-icon {
    color: #666; }

md-icon.logo-icon {
  color: #5A4B69 !important;
  margin-right: 5px;
  width: 48px;
  height: 48px; }

.comp-name {
  font-weight: 200;
  font-size: 24px; }

.comp-name span {
  vertical-align: middle; }

.top-menu-item {
  margin: 0 15px;
  text-transform: uppercase;
  font-size: 18px;
  font-size: 16px;
  font-weight: 700;
  color: #5A4B69 !important; }
  .top-menu-item:hover, .top-menu-item.active {
    color: #E24301 !important; }

md-toolbar .btn-toggle-nav md-icon {
  color: #5A4B69 !important; }

#divBuildBedBg.padding {
  margin-top: 90px; }

#divMainContent {
  overflow-x: hidden; }

.bed-container {
  width: 891px;
  position: absolute;
  z-index: 1;
  height: 596px;
  right: 0px;
  top: 174px; }
  .bed-container div {
    position: absolute;
    width: 100%; }
  .bed-container.offset-left {
    right: 0px; }
  .bed-container.offset-right {
    right: 64px; }
  .bed-container.offset-center {
    right: 264px; }

.steper {
  width: 64px;
  margin: 5% 0px 5% 0;
  border-radius: 3px; }
  .steper .step-item {
    text-transform: uppercase;
    padding: 10px 10px;
    text-decoration: none;
    border-bottom: 1px solid #3D83D2;
    background: #5A4B69; }
    .steper .step-item.selected {
      background: #FFF; }
      .steper .step-item.selected span {
        color: #5A4B69; }
    .steper .step-item:last-child {
      border: 0; }
    .steper .step-item span {
      font-size: 50px;
      font-weight: 300;
      color: #FFF;
      display: block;
      text-align: center;
      line-height: 1;
      margin-top: 7px; }

.animate-show-hide {
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1); }

.build-control {
  margin: 5% 20px 5% 0;
  padding: 0 20px;
  background-color: #FFF;
  opacity: 1;
  color: #666;
  width: 35%; }
  .build-control.ng-hide {
    opacity: 0;
    margin: 5% 20px 5% -10px; }
  .build-control .md-display-1 {
    font-weight: 300;
    color: #5A4B69;
    margin: 15px 0 0 0; }
  .build-control .md-subhead {
    margin: 0;
    color: #5A4B69;
    text-transform: uppercase; }
  .build-control .sub-option {
    margin-bottom: 0;
    font-size: 14px;
    color: #969696; }
    .build-control .sub-option + .border {
      margin-top: 4px; }
  .build-control .sub-rad-group {
    margin: 0 0 15px 40px;
    font-size: 13px; }
    .build-control .sub-rad-group md-radio-button {
      margin: 0;
      padding: 0; }
  .build-control md-radio-button {
    color: #666; }
  .build-control .note {
    font-size: 12px;
    font-style: italic; }
    .build-control .note + .border {
      margin-top: 4px; }

.bannercontainer {
  width: 100%;
  position: relative;
  padding: 0; }

.banner {
  width: 100%;
  position: relative; }

#eleStep3 md-input-container {
  margin-top: 10px; }

.rad-white .md-on {
  background-color: #FFF !important; }
.rad-white .md-off:not(.md-checked .md-off) {
  background-color: #FFF !important; }

.border {
  border: 1px solid rgba(68, 138, 218, 0.28);
  border-radius: 5px;
  background: #D6E1EC; }

.fixed {
  position: fixed; }

.tp-rightarrow, .tp-leftarrow, .tp-bullets {
  z-index: 57 !important; }

@media (max-width: 767px) {
  .menu-items .top-menu-item {
    font-size: 13px;
    margin: 0 10px; } }

/*# sourceMappingURL=app.css.map */
