<IfModule mod_rewrite.c>

    # (1)
    RewriteEngine On

    # (2)
    Options +FollowSymlinks

    # (3)
    # Options +SymLinksIfOwnerMatch

    # (4)
    # RewriteBase /
    #RewriteBase     /

    # (5)
    # RewriteOptions <options>

    # (6)
    RewriteCond %{HTTPS} =on
    RewriteRule ^ - [env=proto:https]
    RewriteCond %{HTTPS} !=on
    RewriteRule ^ - [env=proto:http]

    RewriteCond     %{REQUEST_URI} !^(/index\.php|/img|/js|/css|/robots\.txt|/favicon\.ico)

      #RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
      #RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d
      RewriteCond     %{REQUEST_FILENAME} !-f
      RewriteCond     %{REQUEST_FILENAME} !-d
      # If an existing asset or directory is requested go to it as it is
      #RewriteRule ^ - [L]
      RewriteRule     .               /index.html              [L]

      # If the requested resource doesn't exist, use index.html
      #RewriteRule . /index.php [QSA,L]

Options -Indexes
      ErrorDocument 404 http://www.domain.com/your-custom-404.php
      ErrorDocument 403 http://www.domain.com/your-custom-404.php

</IfModule>




#RewriteEngine On
#
## Some hosts may require you to use the `RewriteBase` directive.
## If you need to use the `RewriteBase` directive, it should be the
## absolute physical path to the directory that contains this htaccess file.
##
#RewriteBase /
#
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^ index.html [QSA,L]
#
#Options -Indexes