<div ng-controller="_TopMenuCtrl">
    <md-toolbar class="top-bar animate-hide" ng-hide="isFixed">
    </md-toolbar>
    <md-toolbar class="main-toolbar" ng-class="{fixed:isFixed}">
        <div layout="column">
            <div layout="row" layout-align="center center">
                <div flex="70" flex-sm="100">
                    <div class="md-toolbar-tools">
                        <md-icon md-svg-src="img/logo.svg" class="logo-icon"></md-icon>
                        <a href="/" class="comp-name" >BED STORE</a>
                        <span flex></span>
                        <a href="/" class="top-menu-item">Home</a>
                        <a href="home" class="top-menu-item">Shop</a>
                        <a href="/build-a-bed" class="top-menu-item">Build a Bed</a>
                        <a href="home" class="top-menu-item">About</a>
                        <a href="home" class="top-menu-item">Contact</a>
                    </div>
                </div>
            </div>
        </div>
    </md-toolbar>
</div>
