<div ng-controller="_TopMenuCtrl" class="top-menu-wrapper fixed" ng-class="{'hide-topbar':appVm.isHideTopbar}">
    <div class="top-bar" _ng-hidex="appVm.isFixed">

    </div>
    <md-toolbar class="container main-toolbar" ng-class="{transparent:appVm.currentYOffset==0&&appVm.isHomePage}">
        <nav layout="column">
            <div layout="row" layout-align="center center">
                <div flex flex-sm="100" flex-gt-lg="80">
                    <div class="md-toolbar-tools">

                        <a href="/" class="comp-name">
                            <md-icon md-svg-src="img/logo.svg" class="logo-icon"></md-icon>
                            <span>BED STORE</span></a>
                        <span flex></span>
                        <div hide-sm class="menu-items">
                            <a href="/" class="top-menu-item">Home</a>
                            <a href="home" class="top-menu-item">Shop</a>
                            <a href="/build-a-bed" class="top-menu-item">Build a Bed</a>
                            <a href="home" class="top-menu-item">About</a>
                            <a href="home" class="top-menu-item">Contact</a>
                        </div>
                        <md-button class="md-icon-button btn-toggle-nav" hide-gt-sm aria-label="Toggle Nav"
                                   ng-click="toggleSideNav()">
                            <md-icon class="ti-menu"/>
                        </md-button>
                    </div>
                </div>
            </div>
        </nav>
    </md-toolbar>



</div>
