<div ng-controller="HomeCtrl" class="container" layout="column">
    <div layout="row" layout-align="center center">
        <div flex="70" flex-sm="100">
            <!--LayerSlider begin-->
            <div id="layerslider" style="width: 1000px; height: 500px;">

                <!--LayerSlider layer-->
                <div class="ls-layer">

                    <!--LayerSlider background-->
                    <img class="ls-bg" ng-src="bower_components/layerslider/bg/city_bg.jpg" alt="layer1-background">

                    <!--LayerSlider sublayers-->
                    <!--<img class="ls-s-1" ng-src="img/step-1-on.png" alt="layer1-sublayer1">-->
                    <div class="ls-s-2">Hello Slider</div>
                    <!--<img class="ls-s-1 src=".." alt="layer1-sublayer3">-->
                </div>

                <!--LayerSlider layer-->
                <div class="ls-layer">

                    <!--LayerSlider background-->
                    <img class="ls-bg" ng-src="bower_components/layerslider/bg/mist_bg.jpg" alt="layer2-background">

                    <!--LayerSlider sublayers-->
                    <!--<h3 class="ls-s1">Hello Slider 2</h3>-->
                    <!--<img class="ls-s1" src=".." alt="layer2-sublayer1">-->
                    <!--<img class="ls-s2" src=".." alt="layer2-sublayer2">-->
                    <!--<img class="ls-s3" src=".." alt="layer2-sublayer3">-->
                </div>

            </div>
            <!--LayerSlider end-->
        </div>
    </div>


</div>
